---
import ThemeIcon from "./ThemeIcon.astro";
---
<div id="main-menu" class="nav-links">
    <a href="/portfolio/projects/">Projects</a>
    <a href="/about/">About</a>
    <ThemeIcon /> 
</div>

<style>
    div {
        justify-content: right;
        align-items: center;
        width: 100%;
        font-family: 'Courier New', Courier, monospace;
    }
</style>