---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import FilmGrain from '../components/FilmGrain.astro';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />    
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)" />
    <meta name="theme-color" content="#d7d7d7" media="(prefers-color-scheme: light)" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <FilmGrain />
    <div id="main-content" class="site-content">
      <div class="side-margins">
        <Header />
        <h1>{pageTitle}</h1>
      
        <main>
          <slot />
        </main>
        
        <Footer />
        <script>
          import "../scripts/menu.js";
        </script>
      </div>
    </div>
  </body>
</html>