---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import DK from "../../assets/DK_Family_Hut_SNW.png";

const projectSpecs = [
  { label: "Location", value: "Universal Creative" },
  { label: "Dates", value: "Aug. 2024 - Dec. 2024" },
  { label: "Title", value: "Scenic Engineering Intern, Ride and Show Engineering" }
];
---

<ProjectLayout 
    title="Scenic Engineering Internship"
    subtitle="Fall 2024 - Universal Epic Universe Super Nintendo World"
    images={[DK]}
    specs={projectSpecs}
>
    <h2>Overview</h2>
    <p>As a scenic engineer Intern, I worked directly on creating and installing large themed elements in Universal's 
        new Super Nintendo World in Orlando, Florida. I facilitated vendor coordination, ensuring that the show set, 
        scenic, and rockwork deliverables of multiple vendors were completed successfully. I worked hands on with the 
        creative team to ensure that scenic elements were up to creative and I.P. standards. Through this, I facilitated 
        change orders between the creative team and vendors, documenting and tracking them throughout their lifecycle.</p> 

    <p>Donkey Kong's Family Hut, pictured above, was a major scenic and rockwork effort which I helped to coordinate.</p>
</ProjectLayout>

<style is:global>
    .project-hero-img {
        width: 100%;
        height: 650px;
    }

    h2 {
        margin-top: -0.8rem;
    }
</style>